/* Code for the stylesheet for the killerbean/index file */

body {
  background-image: url(killerBeanWebImgs/bg.jpg);
}

#mainHeader {
  height: 100%;
  width: auto;
  font-family: helvetica, arial, sans-serif;
  font-size: 100%;
  color: blue;
  text-align: center;
  border: 10px solid black;
}
