/* Code for the stylesheet for the killerbean/index file */

body {
  background-image: url(killerBeanWebImgs/bg.jpg);
}

#mainHeader {
  height: 10%;
  width: auto;
  font-family: helvetica, arial, sans-serif;
  font-size: 500%;
  text-align: center;
}
